.stars {
    display: flex;
    gap: 5px;
}

.star {
    font-size: 25px;
    color: #ccc;
    transition: color 0.2s;
}

.star.filled {
    color: #fbc02d;
}

@media (max-width: 1080px){
    .stars {
        gap: 2vw;
    }

    .star {
        font-size: 5vw;
    }
}