.review-text{
  font-family: 'Montserrat-Regular';
  font-size: 1rem;  /* 16px */
  line-height: 1.5rem;    /* 24px */
  margin: 0;
  padding-top: 10px;
}

.see-more {
  color: #0077cc;
  cursor: pointer;
  font-weight: 500;
}

.see-more:hover {
  text-decoration: underline;
}

@media (max-width: 1080px){
  .review-text{
    font-size: 2.22vw;  /* 16px */
    line-height: 2.5vw;    /* 24px */
    padding: 0;
  }

  .see-more {
    color: #0077cc;
    cursor: pointer;
    font-size: 2.22vw;
  }
}