@font-face {
    font-family: 'Poppins-Bold';
    src: url('../../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Italic';
    src: url('../../assets/fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
}
.About{
    width: 100%;
    background-color:rgba(217, 217, 217,0.9);
}
.About-container{
    display: grid;
    align-items:flex-start;
    max-width: 2000px;
    margin: 0 auto;
}
.About-container-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 94px 7.5% 30px;
}
.About-Titulo1{
    font-family: 'Montserrat-Bold';
    font-size: 1.5rem;  /* 24px */
    line-height: 1.5rem;    /* 24px */
    /*line-height: 3.25rem;   /* 52px */
    color: #000000;
    margin: 0px;
}
.About-Titulo2{
    font-family: 'Poppins-Bold';
    font-size: 3rem;  /* 48px */
    line-height: 4.625rem;   /* 74px */
    color: #0404E2;
    margin: 0px;
}
.About-Texto{
    font-family: 'Montserrat-Regular';
    font-size: 1.125rem;  /* 18px */
    line-height: 1.5rem;   /* 24px */
    color: #000000;
    width: 537px;
    margin: 0px;
    margin-top: 29px;
}
.img-about{
    height: 100%;
    aspect-ratio: 630 / 619;
    border-radius: 20px;
    z-index: 1;
    position: relative;
}
@media (max-width: 1200px){
    .About-container{
        min-height: 1448px;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .About-container-flex{
        display: block;
        padding: 0;
        gap: 0;
        width: 100%;
        height: auto;
    }
    .About-Titulo1{
        padding-top: 153px;
        display: flex;
        justify-content: center;
        color: #030347;
        font-size: 2.25rem;  /* 36px */
    }
    .About-Titulo2{
        padding: 26px 0px 60px;
        display: flex;
        justify-content: center;
        font-size: 4.6875rem;  /* 75px */
    }
    .About-Texto{
        padding-left: 80px;
        padding-right: 80px;
        color: #030347;
        width: auto;
        max-width: 920px;
        font-size: 1.875rem;  /* 30px */
        line-height: 2.125rem;   /* 34px */
        padding-top: 33px;
        margin: 0;
    }
}
/*-------------------------- INFO --------------------------*/
.img-detalle{
    height: 43vw;
    max-height: 619px;
    position: relative;
    display: block;
    overflow: visible;
}
.title-container-personas{
    font-family: 'Montserrat-Bold';
    font-size: 1.5rem;  /* 24px */
    line-height: 3.25rem;   /* 52px */
    color: #030347;
    margin: 0;
    padding-left: 7.5%;
}
.About-container-personas{
    height: 89px;
    display: flex;
    justify-content: space-between;
    padding: 24px 7.5% 84px;
}
.About-nos{
    display: flex;
    gap: 2.43vw;
}
.img-nos{
    height: 100%;
    aspect-ratio: 91 / 89;
    border-radius: 21px;
}
.About-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.About-nombre{
    font-family: 'Montserrat-Bold';
    font-size: 1.125rem;  /* 18px */
    line-height: 1.5rem;   /* 24px */
    color: #000000;
    margin: 0px;
}
.About-titulo{
    font-family: 'Montserrat-Italic';
    font-size: 1.125rem;  /* 18px */
    line-height: 1.5rem;   /* 24px */
    color: #000000;
    margin: 0px;
}
@media (max-width: 1200px){
    .img-detalle{
        display: none;
    }
    .title-container-personas{
        font-size: 1.875rem;  /* 30px */
        padding-left: 80px;
        padding-top: 89px;
    }
    .About-container-personas{
        height: auto;
        padding: 0;
        padding-left: 80px;
        padding-top: 37px;
        padding-bottom: 103px;
        flex-direction: column;
        justify-content: flex-start;
        gap: 63px;
    }
    .About-nos{
        gap: 54px;
    }
    .img-nos{
        height: 133px;
        aspect-ratio: 91 / 89;
        border-radius: 21px;
    }
    .About-nombre{
        font-size: 1.875rem;  /* 30px */
        line-height: 2.125rem;   /* 34px */
        color: #030347;
    }
    .About-titulo{
        font-size: 1.875rem;  /* 30px */
        line-height: 2.125rem;   /* 34px */
        color: #030347;
    }
}

/*------------------------ PARALELOGRAMOS -------------------------*/

.paralelogramo1 {
    position: absolute;
    top: -94px;   /* 94px de 619 */
    left: 3.17%;    /* 20px de 630px*/
    width: 30.5%; /* 192px  13.33vw*/
    height: 133px; /* 133px  9.23vw*/
    background-color: #0404E2;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
    z-index: 0;
}
.paralelogramo2 {
    position: absolute;
    top: -94px;   /* 94px de 619 */
    left: 33.65%;    /* 942px de 630px */
    width: 30.5%; /* 192px  13.33vw*/
    height: 133px; /* 133px  9.23vw*/
    background-color: #0404E2;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
    z-index: 2;
}
.paralelogramo3 {
    position: absolute;
    top: -94px;   /* 94px de 619 */
    left: 64.12%;   /* 1134px de 630px */
    width: 30.5%; /* 192px  13.33vw*/
    height: 133px; /* 133px  9.23vw*/
    background-color: #0404E2;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
    z-index: 0;
}