@font-face {
    font-family: 'Poppins-Bold';
    src: url('../../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}
.contact-container{
    width: 100%;
    height: 423px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}
.img-back{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/Group_39.png');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: 1;
}
.img-filtro-contact{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    opacity: 1;
    z-index: 2;
}
.contact-container-title{
    margin: 0;
    margin-top: 120px;
    font-family: 'Poppins-Bold';
    font-size: 4.688rem;    /* 75px */
    line-height: 4.625rem;  /* 74px */
    color: #030347;
    text-shadow: 0 4px 34.9px #EAEAEA;
    z-index: 2;
}
.contact-boton{
    background-color: transparent;
    width: 222px;
    height: 45px;
    border: 1.5px solid #030347;
    border-radius: 50px;
    cursor: pointer;
    color: #030347;
    background-color: rgb(192, 159, 139, 0.3);
    font-family: 'Montserrat-SemiBold';
    font-size: 1.125rem; /* 18px */
    line-height: 1.25rem;  /* 20px */
    text-shadow: 0 4px 9.4px rgba(234, 234, 234,0.25);
    z-index: 2;
}
@media (max-width: 1200px){
    .contact-container{
        height: 435px;
        border-top: 43px;
        position: relative;
        z-index: 3;
    }
    .img-back{
        margin-top: 43px;
        height: 392px;
        background-image: url('../../assets/images/Group_19.png');
        opacity: 0.7;
    }
    .img-filtro-contact{
        margin-top: 43px;
        height: 392px;
        position: absolute;
        background-color: rgba(0,0,0,0.1);
        opacity: 1;
        z-index: 2;
        pointer-events: none;
    }
    .contact-container-title{
        margin-top: 92.5px;
        text-shadow: 0 4px 73.4px rgba(234, 234, 234, 0.5);
    }
    .contact-boton{
        padding: 0;
        margin: 0;
        width: 409px;
        height: 64px;
        border: 4px solid #030347;
        border-radius: 60px;
        background-color: rgba(207, 207, 208, 0.8);
        font-size: 1.875rem; /* 30px */
        box-shadow: 0 4px 25px rgba(4, 4, 226, 0.25);
    }
}

/*------------------------ PARALELOGRAMOS -------------------------*/

.detalle-1080{
    display:none;
    height: 43px;
    width: 100%;
    background-color:rgba(217, 217, 217,0.9);
    gap: 30px;
    padding-left: 26px;
    padding-top: 0px;
}
@media (max-width: 1200px){
    .detalle-1080{
        display:flex;
    }
    .paralelogramo4 {
        position: relative;
        width: 115px;
        height: 43px;
        background-color: #0404E2;
        clip-path: polygon(0 0, 80% 0, 90% 100%, 10% 100%);
        z-index: 5;
    }
    .paralelogramo5 {
        position: relative;
        width: 127px;
        height: 88px;
        background-color: #0404E2;
        clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
        z-index: 5;
    }
    .paralelogramo6 {
        position: relative;
        width: 115px;
        height: 43px;
        background-color: #0404E2;
        clip-path: polygon(0 0, 80% 0, 90% 100%, 10% 100%);
        z-index: 5;
    }
}